# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.toc
*.pdf
*.out
*synctex*

# Temporary files
*.log
*.tmp
*.swp


# OS files
.DS_Store
Thumbs.db
desktop.ini

# Large data files
*.dat
*.dta
*.sav
*.sas7bdat

# unnecessary replication docs
*.cbk
*.xml

# Experiment runs (temporary outputs)
runs/

# Binary files
*.docx

# Archives
NHK-replications/archive/